.navBar {
    margin: 0px;
    border: 5px solid pink;
    width: 100%;
    background-color: pink;
    height: 10%;
}

.bottomBar {
    margin: 0px;
    position: absolute;
    height: 15%;
    bottom: 0;
    border: 5px solid pink;
    width: 100%;
    background-color: pink;
}


.textOutput {
    margin: 0px;
    position: absolute;
    height: 30%;
    bottom: 15%;
    border: 5px solid pink;
    background-color: pink;
}

.randomNumber {
    height: 50px;
    border: 2px solid gray;
    width: 300px;
    background-color: wheat;
    color: gray;
}

.mainDiv {
    background: wheat;
    text-align: center;
}


.inlineDiv {
    height: 200px;
    width: 200px;
    display: "inline-block";
}

