.navBar {
    margin: 0px;
    border-top:10px solid #000;
    border: 5px solid pink;
    width: 100%;
    background-color: pink;
    height: 10%;
}

.bottomBar {
    margin: 0px;
    position: fixed;
    height: 15%;
    bottom: 0;
    border: 5px solid pink;
    width: 100%;
    background-color: pink;
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.textAreaNumber {
    margin: 0px;
    position: absolute;
    border: 5px solid pink;
    height: 100px;
    width: 60%;
}

.textOutput {
    margin: 0px;
    position: absolute;
    bottom: 35%;
}

.mainContainer {
    background-color: orange;
}

.randomNumber {
    height: 50px;
    border: 2px solid gray;
    width: 300px;
    background-color: wheat;
    color: gray;
}

.helpButton {
    height: 50px;
    border: 2px solid gray;
    width: 100px;
    background-color: wheat;
    color: gray;
}

.mainDiv {
    background: wheat;
    text-align: center;
}


.inlineDiv {
    height: 200px;
    width: 200px;
    display: "inline-block";
}


.div-2 {
    height: 100px;
}
